{% extends "cms/base.html" %}

{% block title %}
    Донат
{% endblock %}

{% block content %}
    <h1>Підтримати сайт матеріально</h1>

    <p>Орієнтовна потрібна сумма: 10 USD на місяць.</p>
    <p>Зібрані кошти буде витрачено на сплату хостінга та домена.</p>
    <p>Залишки коштів буде витрачено на сплату додаткових веб-сервісів таких як пошта, хмарне сховище для фото тощо.</p>
    <p>Сумма донатів не підлягає поверненню та збирається за згодою платника.</p>
    <form action="{{ checkout_form.action }}" method="{{ checkout_form.method }}" target="_blank">
        {{ checkout_form }}
        <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important;
		color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important;
		background: rgb(122,183,43) !important;"onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
            <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                 style="margin-right: 7px !important; vertical-align: middle !important;"/>
            <span style="vertical-align:middle; !important">Сплатити 5 UAH</span>
        </button>
    </form>
{% endblock %}
