{% load i18n pybb_tags %}
{% include "pybb/breadcrumb_top_extra_crumb.html" %}
{% if object or extra_crumb %}
<li><a href="{% url 'pybb:index' %}">{% trans 'Forum' %}</a></li>
{% else %}
<li class="current">{% trans 'Forum' %}</li>
{% endif %}
{% if object %}
    {% if object.get_parents %}
        {% for obj in object.get_parents %}
            <li>{% pybb_link obj %}</li>
        {% endfor %}
    {% endif %}
    {% if extra_crumb %}
        <li>{% pybb_link object anchor=object.get_display_name %}</li>
    {% else %}
        <li class="current">{{ object }}</li>
    {% endif %}
{% endif %}
{% if extra_crumb %}
    <li class="current">{% trans extra_crumb %}</li>
{% endif %}
