{% load mptt_tags %}
{% load markdown_extras %}
{% load auth %}

<p id="сomments_new" style="display: none;">Показані тількі нові коментарі. <a href="#comments">Показати всі</a></p>

<ul>
    {% recursetree comments %}
        <li>
            <div class="comment{% if node.is_deleted %} deleted{% endif %}{% if node.new %} new{% endif %}" id="comment{{ node.pk }}">
                {% if not node.is_deleted %}
                    <img src="{{ node.author.profile.avatar_url }}" alt="avatar"/>
                    <div class="comment-body">
                        <div class="info">
                            {{ node.author.first_name }} {{ node.author.last_name }} [<a href="{% url 'user' username=node.author.username %}">{{ node.author }}</a>]
                            {{ node.created_date }}
                            {% if node.modifed_date %}[Відредаговано {{ node.modifed_date }}]{% endif %}
                        </div>
                        <div class="comment-message">
                            {{ node.text | markdown | safe }}
                        </div>
                        <div class="actions">
                            {% auth_is_owner node as is_comment_owner %}
                            {% if user.is_authenticated %}
                                {% if perms.cms.add_comment %}
                                    <a href="{% url 'comment_reply' pk=post.pk cpk=node.pk %}">Відповідь</a>
                                {% endif %}
                                {% if perms.cms.change_comment and is_comment_owner %}
                                    <a href="{% url 'comment_edit' pk=post.pk cpk=node.pk %}">Редагувати</a>
                                {% endif %}
                                {% if perms.cms.delete_comment and is_comment_owner %}
                                    <a href="{% url 'comment_delete' pk=post.pk cpk=node.pk %}"
                                       onclick="return confirm('Ви впевнені, що хочете видалити коментар?')">
                                        Видалити
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a href="{% url 'post_detail' pk=post.pk %}#comment{{ node.pk }}" class="comment-link">Посилання</a>
                        </div>
                    </div>
                {% else %}
                    <p class="media-content">
                        <i>Коментар було видалено</i>
                    </p>
                {% endif %}
            </div>

            {% if not node.is_leaf_node %}
                <ul class="thread">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
