{% load auth %}
{% load inbox %}

<ul class="menu">
    <li><a href="/">Блог</a></li>
    <li><a href='{% url 'users_list' %}'>Користувачі</a></li>

    {% if user.is_authenticated %}
        {% inbox_count as pm_cout %}
        <li {% if pm_cout > 0 %}class="blink"{% endif %}><a href="{% url 'messages_inbox' %}">ПП ({{ pm_cout }})</a></li>
        <li><a href="{% url 'me' %}">Профайл</a></li>
    {% endif %}

    {% if user.is_staff %}
        <li><a href='/admin/'>Адмінка</a></li>
    {% endif %}

    {% if user.is_authenticated %}
        <li><a href='{% url 'auth_logout' %}?next={{ request.path }}'>Вихід</a></li>
    {% endif %}
</ul>