{% load staticfiles %}
{% load opengraph %}
{% load webpush_notifications %}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        Аккаунт заблоковано - Сайт дигерів Києва
    </title>

    {% block extra_head %}{% endblock %}

    {% block og %}
        {% opengraph title='Diggers.kiev.ua' %}
    {% endblock %}

    {% webpush_header %}

    <link rel="stylesheet" href="{% static 'css/fa/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>

<!-- header starts here -->
<div id="header">
    <div class="content">
        <div class="dynamic">
            <div id="logo-lt">&nbsp;</div>
            <div id="logo-rt">&nbsp;</div>
        </div>
        <span id="logo"><a href="{{ request.scheme }}://{{ request.site }}/">Diggers.kiev.ua</a></span>
        <span id="slogan">Сайт дигерів Києва</span>
        <span id="greeting">
            Ви увійшли як:
            <strong><a href="{% url 'me' %}">{{ user.username }}</a></strong>
        </span>

        <!-- Menu Tabs -->
        <ul class="menu">
            <li><a href="{% url 'auth_logout' %}?next={{ request.path }}">Вихід</a></li>
        </ul>
        <!-- Menu Tabs -->
    </div>
</div>
<!-- content-wrap starts here -->
<div id="content-wrap">
    <div class="navbar">
        <ul class="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </ul>
    </div>

    <div class="content">
        <h1>Аккаунт заблоковано</h1>

        <p>Ваш аккаунт заблоковано</p>
        <p>Для оскарження рішення щодо блокування звертайтеся за адресою <a href="mailto:admin@diggers.kiev.ua">admin@diggers.kiev.ua</a></p>
    </div>
</div>
<!-- content-wrap ends here -->

<!-- footer starts here -->
<div id="footer">
    <div class="content">
        <div>
            <ul class="menu">
                <li><a href="{% url 'auth_logout' %}?next={{ request.path }}">Вихід</a></li>
            </ul>
        </div>
        <div>
            <p>
                Design by Outsiders Diggers<br/>
                Copyright &copy; {% now "Y" %}<br/>
            </p>
        </div>
    </div>
</div>

{% block extra_script %}{% endblock %}

<script src="{% static 'js/misc.js' %}"></script>
<!-- footer ends here -->
</body>
</html>
