{% extends "cms/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block breadcrumbs %}
    <li class="current">{% trans "Login" %}</li>
{% endblock %}

{% block content %}
    <h1>{% trans "Login" %}</h1>

    <form method="post" action="." class="login-form">
      {% csrf_token %}

      {% for field in form.visible_fields %}
        <p>
          {{ field.label_tag }}
          {{ field }}
        </p>
      {% endfor %}

      {{ form.non_field_errors }}

      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="{% url 'post_list' %}" />
      {% endif %}

      <p>
        <button type="submit">{% trans "Login" %}</button>
      </p>
    </form>

    <p>
      <p><a href="{% url 'auth_password_reset' %}">{% trans "Forgot password?" %}</a></p>
      <p><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
    </p>
{% endblock %}
