{% extends "cms/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Password recovery" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Password recovery" %}</h1>

    {% if validlink %}
      <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="save btn btn-default">{% trans "Send" %}</button>
      </form>
    {% else %}
      <p>{% trans "The link you clicked on is not correct. Password recovery failed." %}</p>
    {% endif %}
{% endblock %}
