{% extends "cms/base.html" %}

{% block title %}
  Відновлення пароля
{% endblock %}

{% block content %}
<h1>Відновлення пароля</h1>

    <form method="post" action=".">
      {% csrf_token %}

      {% for field in form.visible_fields %}
        {{ field.label_tag }}
        {{ field }}

        {% if field.help_text %}
          <div class="help">
            {{ field.help_text|safe }}
          </div>
        {% endif %}

        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
      {% endfor %}

      {{ form.non_field_errors }}

      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      <p>
        <button type="submit">Відправити</button>
      </p>
    </form>
{% endblock %}
