{% extends "cms/base.html" %}
{% load i18n %}

{% block title %}
{% trans "ACIS - Восстановление пароля" %}
{% endblock %}

{% block breadcrumbs %}
<li class="current">{% trans "Восстановление пароля" %}</li>
{% endblock %}

{% block content %}
  {% if validlink %}
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="save btn btn-default">{% trans "Отправить" %}</button>
    </form>
  {% else %}
    <p>{% trans "Ссылка по которой вы перешли не правильная. Восстановление пароля не удалось." %}</p>
  {% endif %}
{% endblock %}
