{% extends "cms/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}
    {% trans "Профиль пользователя " %}{{ profile_user }}
{% endblock %}

{% block breadcrumbs %}
    <li class="current">{% trans "Профиль пользователя " %}{{ profile_user }}</li>
{% endblock %}

{% block content %}
    <h1>{% trans "Профиль пользователя " %}{{ profile_user }}</h1>

    {% if user.is_authenticated %}
        {% if is_owner or is_moderator %}
            <div class="actions">
                {% if is_owner %}
                    <a href="{% url 'profile_edit' %}">{% trans "Редактировать" %}</a>
                    <a href="{% url 'auth_password_change' %}">{% trans "Изменить пароль" %}</a>
                    <a href="{% url 'auth_email_change' %}">{% trans "Изменить email" %}</a>
                {% else %}
                    <a href="{% url 'another_profile_edit' username=profile_user.username %}">{% trans "Редактировать" %}</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    <div class="profile">
        <div>
            <h2>{{ profile_user }}</h2>
            {% if profile_user.profile.avatar %}
                {% thumbnail '/usr/src/app'|add:profile_user.profile.avatar.url AVATAR_DIMENSIONS as avatar %}
                    <img src="{{ avatar.url }}" alt="{{ profile_user }} avatar"/>
                {% endthumbnail %}
            {% else %}
                <img src="{{ AVATAR_DEFAULT }}" alt="default avatar" width="{{ AVATAR_MAX_WIDTH }}" height="{{ AVATAR_MAX_HEIGHT }}"/>
            {% endif %}
        </div>

        <div>
            <h2>{% trans "Основная информация" %}</h2>
            {% if profile_user.first_name or profile_user.last_name %}
                <p>{% trans "Имя:" %}</p>
                <p>{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
            {% endif %}
            <p>{% trans "E-mail:" %}</p>
            <p><a href="mailto:{{ profile_user.email }}">{{ profile_user.email }}</a></p>
            <p>{% trans "Зарегистрирован:" %}</p>
            <p>{{ profile_user.date_joined|date:"d.m.Y" }}</p>
            <p>Статус:</p>
            <p>{% if profile_user.profile.online %}Активен{% else %}Не активен{% endif %}</p>
            {% if profile_user.last_login %}
                <p>{% trans "Последний вход:" %}</p>
                <p>{{ profile_user.last_login|date:"d.m.Y H:i" }}</p>
            {% endif %}
            {% if profile_user.profile.last_activity %}
                <p>{% trans "Последний визит:" %}</p>
                <p>{{ profile_user.profile.last_activity|date:"d.m.Y H:i" }}</p>
            {% endif %}
            <p>{% trans "Активность:" %}</p>
            <p><a href="{% url 'author_list' author=profile_user.username %}">Публикации пользователя</a></p>
        </div>

        <div>
            <h2>{% trans "Дополнительная информация" %}</h2>
            {% if profile_user.profile.birth_date or  profile_user.profile.location or profile_user.profile.site %}
                {% if profile_user.profile.birth_date %}
                    <p>{% trans "Дата рождения:" %}</p>
                    <p>{{ profile_user.profile.birth_date }}</p>
                {% endif %}
                {% if profile_user.profile.location %}
                    <p>{% trans "Местоположение:" %}</p>
                    <p>{{ profile_user.profile.location }}</p>
                {% endif %}
                {% if profile_user.profile.site %}
                    <p>{% trans "Сайт:" %}</p>
                    <p><a href="{{ profile_user.profile.site }}">{{ profile_user.profile.site }}</a></p>
                {% endif %}
            {% else %}
                <p class="grid-colspan-2">{% trans "Информация не указана" %}</p>
            {% endif %}
        </div>

         <div>
             <h2>{% trans "Социальные сети" %}</h2>
             {% if profile_user.profile.facebook or profile_user.profile.vk or profile_user.profile.instagram or profile_user.profile.twitter or profile_user.profile.youtube %}
                 {% if profile_user.profile.facebook %}
                     <p>{% trans "Facebook:" %}</p>
                     <p><a href="{{ profile_user.profile.facebook }}">{{ profile_user.profile.facebook }}</a></p>
                 {% endif %}
                 {% if profile_user.profile.vk %}
                     <p>{% trans "Vkontakte:" %}</p>
                     <p><a href="{{ profile_user.profile.vk }}">{{ profile_user.profile.vk }}</a></p>
                 {% endif %}
                 {% if profile_user.profile.instagram %}
                     <p>{% trans "Instagram:" %}</p>
                     <p><a href="{{ profile_user.profile.instagram }}">{{ profile_user.profile.instagram }}</a></p>
                 {% endif %}
                 {% if profile_user.profile.twitter %}
                     <p>{% trans "Twitter:" %}</p>
                     <p><a href="{{ profile_user.profile.twitter }}">{{ profile_user.profile.twitter }}</a></p>
                 {% endif %}
                 {% if profile_user.profile.youtube %}
                     <p>{% trans "Youtube:" %}</p>
                     <p><a href="{{ profile_user.profile.youtube }}">{{ profile_user.profile.youtube }}</a></p>
                 {% endif %}
             {% else %}
                 <p class="grid-colspan-2">{% trans "Информация не указана" %}</p>
             {% endif %}
         </div>

         <div>
             <h2>{% trans "Контакты" %}</h2>
             {% if profile_user.profile.telegram or profile_user.profile.skype or profile_user.profile.jabber %}
                 {% if profile_user.profile.telegram %}
                     <p>{% trans "Telegram:" %}</p>
                     <p><a href="http://t.me/@{{ profile_user.profile.telegram }}">{{ profile_user.profile.telegram }}</a></p>
                 {% endif %}
                 {% if profile_user.profile.skype %}
                     <p>{% trans "Skype:" %}</p>
                     <p><a href="skype:{{ profile_user.profile.skype }}">{{ profile_user.profile.skype }}</a></p>
                 {% endif %}
                 {% if profile_user.profile.jabber %}
                     <p>{% trans "Jabber:" %}</p>
                     <p>{{ profile_user.profile.jabber }}</p>
                 {% endif %}
             {% else %}
                 <p class="grid-colspan-2">{% trans "Информация не указана" %}</p>
             {% endif %}
         </div>

         <div class="userinfo">
             <h2>{% trans 'Форум' %}</h2>
             <p>{% trans "Number of topics:" %}</p>
             <p>
                 <a href="{% url 'pybb:user_topics' profile_user.username %}">
                     {% if user_topics %}{{ user_topics }}{% else %}{% trans "Нет" %}{% endif %}
                 </a>
             </p>
             <p>{% trans "Number of posts:" %}</p>
             <p>
                <a href="{% url 'pybb:user_posts' profile_user.username %}">
                    {% if profile_user.profile.post_count %}{{ profile_user.profile.post_count }}{% else %}{% trans "Нет" %}{% endif %}
                </a>
             </p>
             {% if request.user.is_superuser %}
                 <p class="grid-colspan-2">
                    <a href="{% url 'pybb:edit_privileges' profile_user.username %}" class="btn">{% trans 'Moderator' %}</a>
                 </p>
             {% endif %}
             {% if perms.pybb.block_users %}
                 {% if profile_user.is_active %}
                     <form action="{% url 'pybb:block_user' profile_user.username %}" method="post" class="grid-colspan-2">
                         {% csrf_token %}
                         <button type="submit">{% trans 'Block' %}</button>
                         <button type="submit" name="block_and_delete_messages">{% trans 'Block and delete all messages' %}</button>
                     </form>
                 {% else %}
                     <form action="{% url 'pybb:unblock_user' profile_user.username %}" method="post" class="grid-colspan-2">
                         {% csrf_token %}
                         <button type="submit">{% trans 'Unblock' %}</button>
                     </form>
                 {% endif %}
             {% endif %}
         </div>
    </div>
{% endblock %}