{% extends "cms/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Registration" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Account registration" %}</h1>
    <p>{% trans "To register, you must read and agree to the rules below." %}</p>

    <h2>{% trans "Site rules" %}</h2>

    <div class="registration-rules">
        {% block rules %}{% endblock %}
    </div>

    <form method="get" action="" class="registration-rules-form">
        <p>
            <input type="checkbox" name="accept" id="accept" />
            <label for="accept">{% trans "I agree with the above rules" %}</label>
        </p>
        <input type="hidden" name="proceed" value="1" />
        <p class="buttons">
            <button type="submit" class="save btn btn-default">{% trans "Next" %}</button>
        </p>
    </form>
{% endblock %}