{% extends 'cms/base.html' %}
{% load auth %}
{% load staticfiles %}
{% load hitcount_tags %}

{% block title %}
    Користувачі
{% endblock %}

{% block content %}
    <h1>Користувачі</h1>

    <div class="userlist">

      {% for user in users %}
        <div class="user">
            <img src="{{ user.profile.avatar_url }}" alt="avatar"/>
            <div>
                <p>{{ user.first_name }} {{ user.last_name }} [{{ user.username }}]</p>
                <p>
                    <a href="{% url 'user' username=user.username %}">Профіль</a>
                    <a href="{% url 'messages_compose_to' recipient=user.username %}">Повідомлення</a>
                </p>
            </div>
        </div>
      {% endfor %}

    </div>

    {% if users.has_other_pages %}
      <ul class="pagination">
        {% if users.has_previous %}
          <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in users.paginator.page_range %}
          {% if users.number == i %}
            <li class="active"><span>{{ i }}</span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if users.has_next %}
          <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
{% endblock %}