{% extends "registration/registration_rules.html" %}

{% block rules %}
    <h3>1. Общие положения</h3>
    <ul>
        <li>1.1. Разрешено все, что не запрещено действующим законодательством Украины и настоящими правилами.</li>
        <li>1.2. Правила распространяются на материалы сайта и комментарии.</li>
        <li>1.3. При регистрации на сайте пользователь соглашается выполнять данные Правила.</li>
        <li>1.4. Перечень правил в дальнейшем может быть изменен.</li>
    </ul>

    <h3>2. Форум и сайт</h3>
    <ul>
        <li>2.1. Сайт предназначен для размещения тематических материалов касающихся диггерской деятельности, общения, обмена информацией, организации вылазок.</li>
        <li>2.3. На сайте используется древовидная система комментариев, позволяющая обсуждать конкретные материалы.</li>
        <li>2.4. Система навигации на сайте основана на тегах. При публикации материала старайтесь выбирать теги лучше всего классифицирующие материал среди других материалов. Пример: Коллектор, Прозоровская система, Клов. Помните, что по тэгам ваш материал может быть найден в будущем.</li>
    </ul>

    <h3>3. Запрещено</h3>
    <ul>
        <li>3.1. Прямо указывать месторасположение входов в подземные и другие ценные для диггеров объекты, которые могут пострадать из-за массового посещения.</li>
        <li>3.2. Запрещено обсуждение и упоминания любых незаконных методов проникновения в подземные, а также любые другие помещения.</li>
        <li>3.3. Рекламировать можно только то, что будет интересно любому подземщику — то есть фонари, веревки, комбезы и т.д.</li>
        <li>3.4. Постить ФИО, номера телефонов, домашние адреса кого-либо из участников сообщества, и прочую информацию личного характера, без разрешения самого участника.</li>
        <li>3.5. Запрещен оффтопик — общение на совершенно другую тему. То есть если есть тема о светодиодных фонарях, то там запрещено говорить обо всем, что их не касается, в том числе и о перcпективах керосинок. Создайте лучше свою отдельную тему — не будет и "разборок" с модератором, и форум станет читабельнее!</li>
        <li>3.6. Разводить флуд — создавать сообщения, не несущие какой-либо смысловой информации.</li>
        <li>3.7. Призывать к совершению действий, уголовно наказуемых согласно действующему законодательству.</li>
        <li>3.8. Запрещены любые антиукраинские высказывания, поддержка политики страны-агрессора и самопровозглашенных республик ОРДЛО.</li>
        <li>3.9. Политические темы не приветствуются.</li>
    </ul>

    <h3>4. Администраторы и модераторы</h3>
    <ul>
        <li>4.1. Администратор следит за техническим состоянием сайта и совершенствует его. Модерированием не занимается, кроме случаев, когда модераторское вмешательство неотложно.</li>
        <li>4.2. Модератор следит за соблюдением Правил сайта.</li>
        <li>4.3. Модератор занимаются упорядочиванием тегов для материалов сайта с целью улучшения навигации.</li>
        <li>4.5. Модератор имеет право не выставлять нарушителю наказание, если считает нарушение недостаточно серьезным.</li>
    </ul>

    <h3>5. Наказания</h3>
    <ul>
        <li>5.1. Предупреждение - выписывается за мелкие нарушения или как первое предуреждение.</li>
        <li>5.2. Второе предупреждения - выписывается за серьезные нарушения (серьезность определяется модератором в зависимости от контекста), так же за повторное нарушение правил.</li>
        <li>5.3. При последующих нарушениях правил после получения второго предупреждения аккаунт пользователя блокируется на срок определяемый модератором.</li>
    </ul>
{% endblock %}