{% extends "cms/base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
    <h1>Вхід</h1>

    <form method="post" action="." class="login-form">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <p>
                {{ field.label_tag }}
                {{ field }}
            </p>
        {% endfor %}

        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
        {% else %}
            <input type="hidden" name="next" value="{% url 'post_list' %}"/>
        {% endif %}

        <p>
            <button type="submit">Увійти</button>
        </p>
    </form>

    <div>
        <p><a href="{% url 'auth_password_reset' %}">Забули пароль?</a></p>
        {% if REGISTRATION_OPEN %}
            <p><a href="{% url 'registration_register' %}">Реєстрація</a></p>
        {% endif %}
    </div>

    <br />
    <div>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Увійти через Google</a><br />
        <a href="{% url 'social:begin' 'facebook' %}">Увійти через Facebook</a><br />
        <a href="{% url 'social:begin' 'github' %}">Увійти через Github</a>
    </div>
{% endblock %}
