{% extends 'cms/base.html' %}
{% load i18n %}

{% block content %}
    <div class="content-two-column">
        <div id="main"></div>
        <div id="sidebar">
            <ul class="subnavilist">
                <li><a href="{% url 'messages_inbox' %} ">{% trans "Inbox" %}</a></li>
                <li><a href="{% url 'messages_outbox' %} ">{% trans "Outbox" %}</a></li>
                <li><a href="{% url 'messages_compose' %} ">{% trans "New message" %}</a></li>
                <li><a href="{% url 'messages_trash' %} ">{% trans "Trash" %}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}