{% extends "django_messages/base.html" %}

{% block title %}
    Нове повідомлення
{% endblock %}

{% block content %}
    <div class="pm">
        <div id="main">
            <h1>Нове повідомлення</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Відправити</button>
            </form>
        </div>
        <div id="sidebar">
            <div>
                <h3>Розділи</h3>
                <div class="block pm-menu">
                    <ul>
                        <li><a href="{% url 'messages_inbox' %} ">Отримані</a></li>
                        <li><a href="{% url 'messages_outbox' %} ">Відправлені</a></li>
                        <li><a href="{% url 'messages_compose' %} ">Нове повідомлення</a></li>
                        <li><a href="{% url 'messages_trash' %} ">Кошик</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}