{% extends "django_messages/base.html" %}

{% block title %}
    Відправлені повідомлення
{% endblock %}

{% block content %}
    <div class="pm">
        <div id="main">
            <h1>Відправлені повідомлення</h1>
            {% if message_list %}
                <div class="messages">
                    <div>
                        <p class="user">Отримувач</p>
                        <p class="subject">Тема</p>
                        <p class="date">Відправлено</p>
                        <p class="actions"></p>
                    </div>
                    {% for message in message_list %}
                        <div>
                            <p class="user">
                                {{ message.recipient.first_name }}
                                {{ message.recipient.last_name }}
                                [{{ message.recipient }}]
                            </p>
                            <p class="subject">
                                <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                            </p>
                            <p class="date">{{ message.sent_at|date:"d.m.Y H:i" }}</p>
                            <p class="actions">
                                <a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}">Видалити</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="nocontent">Немає повідомлень</p>
            {% endif %}
        </div>
        <div id="sidebar">
            <div>
                <h3>Розділи</h3>
                <div class="block pm-menu">
                    <ul>
                        <li><a href="{% url 'messages_inbox' %} ">Отримані</a></li>
                        <li><a href="{% url 'messages_outbox' %} ">Відправлені</a></li>
                        <li><a href="{% url 'messages_compose' %} ">Нове повідомлення</a></li>
                        <li><a href="{% url 'messages_trash' %} ">Кошик</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}