{% extends "django_messages/base.html" %}

{% block title %}
    Кошик
{% endblock %}

{% block content %}
    <div class="pm">
        <div id="main">
            <h1>Кошик</h1>
            {% if message_list %}
                <div class="messages">
                    <div>
                        <p class="user">Відправник</p>
                        <p class="subject">Тема</p>
                        <p class="date">Дата</p>
                        <p class="actions"></p>
                    </div>
                    {% for message in message_list %}
                        <div>
                            <p class="user">
                                {{ message.sender.first_name }}
                                {{ message.sender.last_name }}
                                [{{ message.sender }}]
                            </p>
                            <p class="subject">
                                {{ message.subject }}
                            </p>
                            <p class="date">{{ message.sent_at|date:"d.m.Y H:i" }}</p>
                            <p class="actions"><a href="{% url 'messages_undelete' message.id %}">Відновити</a></p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="nocontent">Немає повідомлень</p>
            {% endif %}
        </div>
        <div id="sidebar">
            <div>
                <h3>Розділи</h3>
                <div class="block pm-menu">
                    <ul>
                        <li><a href="{% url 'messages_inbox' %} ">Отримані</a></li>
                        <li><a href="{% url 'messages_outbox' %} ">Відправлені</a></li>
                        <li><a href="{% url 'messages_compose' %} ">Нове повідомлення</a></li>
                        <li><a href="{% url 'messages_trash' %} ">Кошик</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}