{% extends "django_messages/base.html" %}

{% block title %}
    Перегляд повідомлення
{% endblock %}

{% block content %}
    <div class="mobile-menu">
        <a href="#header"><i class="fas fa-caret-up"></i></a>
        <a href="#sidebar"><i class="fas fa-bars"></i></a>
    </div>

    <div class="pm">
        <div id="main">
            <h1>Перегляд повідомлення</h1>
            <div class="message">
                <dl class="message-headers">
                    <dt>Тема</dt>
                    <dd><strong>{{ message.subject }}</strong></dd>
                    <dt>Відправник</dt>
                    <dd>{{ message.sender }}</dd>
                    <dt>Дата</dt>
                    <dd>{{ message.sent_at|date:"d.m.Y H:i" }}</dd>
                    <dt>Отримувач</dt>
                    <dd>{{ message.recipient }}</dd>
                </dl>
                <div class="message-body">
                    {{ message.body|linebreaksbr }}
                </div>
                <div class="actions">
                    {% ifequal message.recipient.pk user.pk %}
                        <a href="{% url 'messages_reply' message.id %}">Відповісти</a>
                    {% endifequal %}
                    <a href="{% url 'messages_delete' message.id %}">Видалити</a>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <div>
                <h3>Розділи</h3>
                <div class="block pm-menu">
                    <ul>
                        <li><a href="{% url 'messages_inbox' %} ">Отримані</a></li>
                        <li><a href="{% url 'messages_outbox' %} ">Відправлені</a></li>
                        <li><a href="{% url 'messages_compose' %} ">Нове повідомлення</a></li>
                        <li><a href="{% url 'messages_trash' %} ">Кошик</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}