body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 12px/14px verdana, tahoma, Segoe, sans-serif;
    background: #FFF;
}

/**
 * Базовые html єлементы
 */

a {
    text-decoration: underline;
}
a.tags {
    text-decoration: none;
}

input, textarea {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea {
    height: auto;
}
input[type=file] {
    display: block;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input::-moz-placeholder {
    color: #999;
    opacity: 1;
}
input:-ms-input-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
input:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #fff;
}
button:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
button:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
button:active:hover,
button:active:focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
button[disabled]:hover,
button[disabled]:focus {
    background-color: #fff;
    border-color: #ccc;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}



/**
 * Блоки шаблона
 */

.container-wrapper {
    min-width: 600px;
    max-width: 1600px;
}

/* Хедер */
.header {
    display: grid;
    grid-template-columns: 145px 1fr;
    align-items: center;
    background: #575757;
    min-height: 74px;
}
.header .slogan {
    justify-self: center;
}

/* Главное меню */
.menu {
    display: grid;
    grid-template-columns: 8fr 3fr;
    align-items: center;
    border-top: 1px solid #8A8A8A;
    background: #000000;
    color: #FFFFFF;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.75);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.75);
    margin-bottom: 28px;
    min-height: 1.5em;
}
.menu .greeting {
    margin: 0 10px 0 0;
    justify-self: self-end;
    grid-column-start: 2;
}
.menu ul{
    list-style: none;
    padding-left: 0;
}
.menu li{
    cursor: pointer;
}
.menu ul li:hover {
    background: #777777;
}
.menu ul li a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
}
.menu > ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 1.5em;
    margin: 0;
}
.menu > ul > li {
    position: relative;
    font-weight: bold;
    width: 120px;
}
.menu > ul > li:first-child {
    margin-left: 20px;
    width: 150px;
}
.menu .sub {
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 100%;
    z-index: 9000;
    background: #000000;
}
.menu .sub > li a {
    font-weight: normal;
    padding: 2px;
}

/**
 * Навигация
 */

.navbar {
    display: grid;
    grid-template-columns: 8fr 1fr;
    align-items: center;
    margin: 0 30px 15px 28px;
}

/* Хдебные крошки */
.breadcrumbs {
    display: flex;
    align-items: center;
    list-style: none;
    flex-basis: 75%;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
}
.breadcrumbs li:last-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.breadcrumbs li.sep {
    margin: 0 5px;
    font-size: 1.2em;
}
.breadcrumbs a {
    font-style: italic;
}
.breadcrumbs .current {
    font-weight: bold;
}

/* Перекоючатель языка*/
.langSwitcher ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.langSwitcher li {
    margin-left: 10px;
}
.langSwitcher a {
    display: block;
}
.langSwitcher img {
    opacity: 0.3;
    -moz-opacity: 0.3;
}
.langSwitcher li.selected a {
    cursor: default;
}
.langSwitcher li.selected img,
.langSwitcher a:hover img {
    opacity: 1.0;
    -moz-opacity: 1.0;
}

/**
 * Контент
 */

.main {
    padding: 0 30px 0 28px;
}

/**
 * Стили контентных блоков разного вида
 */

/* Заголовк с текстом, отбрасывающим тень */
.block > .header {
    position: relative;
    margin-top: 14px;
}
.block > .header .bg {
    width: 100%;
    height: 17px;
    background: #353535;
    padding: 0 13px;
    -webkit-box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.75);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.75);
}
.block > .header .text {
    position: absolute;
    bottom: -2px;
    left: 11px;
    color: #E4E4E4;
    font-size: 31px;
    font-weight: bold;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000,
            5px 5px 6px #000;

}

/* Обычный тонкий заголовок */
.block > .header-simple {
    background: #353535;
    color: #FFFFFF;
    margin: 0;
    padding: 0 10px;
    line-height: 1.95em;
    font-size: 1.05em;
    font-weight: bold;
    -webkit-box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.75);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.75);
}

/* Список материалов */
.block > .content {
    padding: 20px 17px;
}
.block .category-menu {
    margin: 10px 0 0 0;
    padding: 0 17px;
}
.post {
    margin-bottom: 20px;
}
.post > h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    margin: 0 0;
    line-height: 1.25em;
}
.post > h2 a {
    color: #000;
}
.post p {
    margin-bottom: 0;
}
.post .info {
    font-style: italic;
    margin: 5px 0;
}
.post .content {
    margin: 10px 0;
}
.post .tags {
    margin: 5px 0;
}

/* Форма добавления материала */
.block label {
    display: block;
}

/* Страница материала */
.article .info {
    margin-top: 15px;
}
.article .info p {
    margin: 5px;
}
.article .header-simple {
    margin-top: 20px;
}

/* Комментарии */
.comments-form {
    text-align: center;
}
.comments-form .well {
    min-height: 20px;
    padding: 15px;
    margin: 0 auto 20px auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.comments-form textarea {
    resize: none;
}

.comments,
.comments ul {
    list-style: none;
    padding-left: 0;
}
.comments .comment {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 64px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 10px 15px;
    margin-top: 10px;
    min-width: 35%;
}
.comments .deleted {
    justify-content: center;
    background-color: #fafafa;
    border-color: #e9e9e9;
}
.comments .thread li {
    padding-left: 25px;
}
.comments > li:not(:first-child) {
    margin-top: 10px;
    border-top: 1px solid #eee;
}
.comments .comment p {
    margin: 0;
}
.comments .comment .comment-content {
    margin: 5px 0;
}
.comments .comment .edit-notice {
    font-size: 0.95em;
}

/* Двухколоночная форма */
.form-header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 30px;
}
.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(34px, 1fr));
    grid-gap: 10px 0;
}
.grid-form .help,
.grid-form .buttons,
.grid-form .errorlist {
    grid-column-start: span 2;
}
.grid-form label {
    padding-right: 10px;
    align-self: center;
    justify-self: self-start;
}
.grid-form .buttons {
    margin-top: 15px;
}
.grid-form .help,
.grid-form .errorlist {
    font-size: 0.95em;
}
.grid-form .help {
    font-size: 0.95em;
    color: #999;
}
.grid-form .help ul {
    text-align: left;
    list-style: none;
    padding-left: 0;
}
.grid-form .help ul li,
.grid-form .errorlist li{
    margin-bottom: 5px;
}
.grid-form .errorlist {
    align-self: flex-end;
    list-style: none;
    color: red;
    padding-left: 0;
    margin: 0;
}
.login-header{
    text-align: center;
}
.login-form {
    width: 30%;
    margin: 0 auto;
}
.login-form label {
    text-align: right;
    justify-self: self-end;
}
.login-form .help,
.login-form .errors,
.login-form .buttons,
.login-form .errorlist
{
    text-align: center;
}
.accounts-actions {
    text-align: center;
    margin-top: 20px;
}

.password-change-form {
    width: 30%;
}

.password-reset-form {
    width: 30%;
    grid-template-columns: 1fr;
}
.password-reset-form .help,
.password-reset-form .buttons,
.password-reset-form .errorlist {
    grid-column-start: 1;
}
.password-reset-form .buttons {
    margin-top: 5px;
}

.registration-rules-form p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.registration-rules-form p label {
    margin-left: 10px;
}

.registration-form {
    width: 50%;
}

.profile-edit-form h2,
.profile-edit-form h3 {
    grid-column-start: span 2;
}

/* Футер */
.footer {
    padding-left: 28px;
    margin: 30px 0 10px 0;
    text-align: center;
}