.spoiler>strong {
	color:#fff;
	background:#000;
	display:block;
	padding:0 0 2px 4px;
	margin:0 -4px 4px -4px;
	
}
div.spoiler{
	border:1px solid #800;
	color:#e5e5e5;
	background:#e5e5e5;
	padding:0 4px;
}