{% load staticfiles %}
{% load opengraph %}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        {% block title %}{% endblock %} - Сайт дигерів Києва
    </title>

    {% block extra_head %}{% endblock %}

    {% block og %}
        {% opengraph title='Diggers.kiev.ua' %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/fa/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
<!-- header starts here -->
<div id="header">
    <div class="content">
        <div class="dynamic">
            <div id="logo-lt">&nbsp;</div>
            <div id="logo-rt">&nbsp;</div>
        </div>
        <span id="logo"><a href="{{ request.scheme }}://{{ request.site }}/">Diggers.kiev.ua</a></span>
        <span id="slogan">Сайт дигерів Києва</span>
        <span id="greeting">
            {% if user.is_authenticated %}
                Ви увійшли як:
                <strong><a href="{% url 'me' %}">{{ user.username }}</a></strong>
            {% else %}
                <strong><a href="{% url 'auth_login' %}">Увійдіть</a></strong>
                {% if REGISTRATION_OPEN %}
                    або <strong><a href="{% url 'registration_register' %}">зареєструйтеся</a></strong>
                {% endif %}
            {% endif %}
        </span>

        <!-- Menu Tabs -->
        {% include "cms/menu.html" %}
        <!-- Menu Tabs -->
    </div>
</div>
<!-- content-wrap starts here -->
<div id="content-wrap" {% if post or user %}class="no-bacground"{% endif %}>
    <div class="navbar">
        <ul class="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </ul>
    </div>
    {% if request.user.profile.email_verefied == False %}
        <div class="messages">
            <div>Ваш e-mail не підтверджено. Для підтвердження перейдіть за посиланням у листі, що мав надійти на вказану при реєстрації адресу.
                Або зверніться до адміністрації у відповідному розділі. Також ви можете ще раз <a href="{% url 'registration_send_confirm' %}">надіслати код підтвердження</a>.</div>
        </div>
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<!-- content-wrap ends here -->

<!-- footer starts here -->
<div id="footer">
    <div class="content">
        <div>
            {% include "cms/menu.html" %}
        </div>
        <div>
            <p>
                Design by Outsiders Diggers<br/>
                Copyright &copy; {% now "Y" %}<br/>
            </p>
        </div>
    </div>
</div>

{% block extra_script %}{% endblock %}

<script src="{% static 'js/misc.js' %}"></script>
<!-- footer ends here -->
</body>
</html>