{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        {% block title %}
            {% trans "ACIS - Сайт диггеров" %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox/dist/jquery.fancybox.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'fancybox/dist/jquery.fancybox.min.js' %}"></script>
</head>
<body>

<div class="container-wrapper">
    <div class="header">
        <img src="{% static 'images/logo.jpg' %}" class="logo" alt="ACIS logo" />
        <img src="{% static 'images/slogan.gif' %}" class="slogan" alt="Artificial Caves Investigation System" />
    </div>
    <div class="menu" id="acisMenu">
        {% if user.is_authenticated %}
            <p class="greeting">{% trans "Вы вошли как: " %}<strong><a href="{% url 'profile' %}">{{ user.username }}</a></strong></p>
        {% endif %}
    </div>
    <div class="navbar">
        <ul class="breadcrumbs">
            <li><a href="{% url 'post_list' %}">{% trans "Главная" %}</a></li>
            <li class="sep">&#187;</li>

            {% block breadcrumbs %}{% endblock %}
        </ul>

        <form action="{% url 'set_language' %}" class="langSwitcher" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <input name="language" type="hidden" value="{{ LANGUAGE_CODE }}">
            <ul>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <li class="langBtn{% if language.code == LANGUAGE_CODE %} selected{% endif %}" id="{{ language.code }}">
                        <a href="#" title="{{ language.name_local }} ({{ language.code }})">
                            <img src="{% static 'images/locale/' %}{{ language.code }}.png" alt="{{ language.code }}" />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        Copyright © 2001-2016 ACIS
    </div>
</div>

<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<script>
    {% include "cms/menu.js" %}
</script>
</body>
</html>