{% load i18n %}
{% load pybb_last_posts %}
{% load last_comments %}
{% load tags_cloud %}

<div>
    <h3>{% trans "Tags" %}</h3>
    <div class="block">
        {% tags_cloud as cloud %}
        {% for tag in cloud %}
            <a href="{% url 'tag_list' tags=tag.name %}" class="tag-size-{{ tag.font_size }}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>

<div>
    <h3>{% trans "New on forum" %}</h3>
    <div class="block list">
        {% pybb_last_posts 6 %}
    </div>
</div>

<div>
    <h3>{% trans "Last comments" %}</h3>
    <div class="block list">
        {% last_comments 6 %}
    </div>
</div>