{% load i18n %}

<ul class="breadcrumbs">
    {% if request.path != "/" %}
        <li><a href="{% url 'post_list' %}">{% trans "Главная" %}</a></li>
    {% else %}
        <li><span class="current">{% trans "Главная" %}</span></li>
    {% endif %}
    <li class="sep">&#187;</li>

    {% block breadcrumbs %}

    {% endblock %}



    {% if post %}
        <li><a href="{% url 'category_list' category=post.category.route %}">{{ post.category }}</a></li>
        <li class="sep">&#187;</li>
        <li><span class="current">{{ post.title }}</span></li>
    {% elif is_post_add %}
        <li><span class="current">{% trans "Добавить материал" %}</span></li>
    {% elif is_post_edit %}
        <li><span class="current">{% trans "Редактировать материал" %}</span></li>
    {% endif %}
</ul>