{% load i18n %}

<ul class="breadcrumbs">
    <li class="sep"><span class="glyphicon glyphicon-menu-right"></span></li>
    {% if request.path != "/" %}
        <li><a href="/">{% trans "Главная" %}</a></li>
        <li class="sep"><span class="glyphicon glyphicon-menu-right"></span></li>
    {% else %}
        <li><span class="current">{% trans "Главная" %}</span></li>
    {% endif %}

    {% if category %}
        {% if tags or is_post_add or is_post_edit %}
            <li><a href="{% url 'category_list' category=category.route %}">{{ category }}</a></li>
            <li class="sep"><span class="glyphicon glyphicon-menu-right"></span></li>
        {% else %}
            <span class="current">{{ category }}</span>
        {% endif %}
    {% endif %}

    {% if author %}
        <li>
            {% if tags %}
                <a href="{% url 'author_list' author=author %}">{{ author }}</a>
                <li class="sep"><span class="glyphicon glyphicon-menu-right"></span></li>
            {% else %}
                <span class="current">{{ author }}</span>
            {% endif %}
        </li>
    {% endif %}

    {% if tags %}
        <li>
            <span class="current">{% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}</span>
        </li>
    {% endif %}

    {% if post %}
        <li><a href="{% url 'category_list' category=post.category.route %}">{{ post.category }}</a></li>
        <li class="sep"><span class="glyphicon glyphicon-menu-right"></span></li>
        <li><span class="current">{{ post.title }}</span></li>
    {% elif is_post_add %}
        <li><span class="current">{% trans "Добавить материал" %}</span></li>
    {% elif is_post_edit %}
        <li><span class="current">{% trans "Редактировать материал" %}</span></li>
    {% endif %}
</ul>