{% load mptt_tags %}
{% load markdown_extras %}
{% load auth %}

<ul>
    {% recursetree comments %}
        <li>
            <div class="comment{% if node.is_deleted %} deleted{% endif %}" id="comment{{ node.pk }}">
                {% if not node.is_deleted %}
                    <img src="{{ avatar.url }}" alt="{{ user_profile.get_display_name }} avatar"/>
                    <div class="text">
                        <p class="info">
                            <a href="{% url 'profile' username=node.author.username %}">{{ node.author }}</a>
                            {{ node.created_date }}
                            {% if node.modifed_date %}[Відредаговано {{ node.modifed_date }}]{% endif %}
                        </p>
                        <p class="comment-message">
                            {{ node.text | markdown | safe }}
                        </p>
                        <p class="actions">
                            {% auth_is_owner node as is_comment_owner %}
                            {% if user.is_authenticated %}
                                {% if perms.cms.add_comment %}
                                    <a href="{% url 'comment_reply' pk=post.pk cpk=node.pk %}">Відповідь</a>
                                {% endif %}
                                {% if perms.cms.change_comment and is_comment_owner %}
                                    <a href="{% url 'comment_edit' pk=post.pk cpk=node.pk %}">Редагувати</a>
                                {% endif %}
                                {% if perms.cms.delete_comment and is_comment_owner %}
                                    <a href="{% url 'comment_delete' pk=post.pk cpk=node.pk %}"
                                       onclick="return confirm('Ви впевнені, що хочете видалити коментар?')">
                                        Видалити
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a href="{% url 'post_detail' pk=post.pk %}#comment{{ node.pk }}">Посилання</a>
                        </p>
                    </div>
                {% else %}
                    <p class="media-content">
                        <i>Коментар було видалено</i>
                    </p>
                {% endif %}
            </div>

            {% if not node.is_leaf_node %}
                <ul class="thread">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>