{% load i18n %}
{% load mptt_tags %}

<ul id="comments" class="comments">
    {% recursetree comments %}
        <li>
            <div class="comment{% if node.is_deleted %} deleted{% endif %}" id="comment{{ node.pk }}">
                {% if not node.is_deleted %}
                <p class="comment-heading">
                    <span>{{ node.author }}</span> |
                    <span> {{ node.created_date }}</span>
                </p>
                <p class="comment-content">
                    {{ node.text }}
                    {% if node.modifed_date %}
                    <br />
                    <br />
                    <i class="edit-notice">{% trans "Отредактирован " %} {{ node.modifed_date }}</i>
                    {% endif %}
                </p>
                <p class="comment-footer">
                    {% if user.is_authenticated %}
                    <a href="{% url 'comment_reply' pk=post.pk cpk=node.pk %}">Ответ</a> |
                    <a href="{% url 'comment_edit' pk=post.pk cpk=node.pk %}">Редактировать</a> |
                    <a href="{% url 'comment_delete' pk=post.pk cpk=node.pk %}" onclick="return confirm('{% trans "Вы уверены, что хотите удалить комментарий? Отменить это действие будет невозможно." %}')">Удалить</a> |
                    {% endif %}
                    <span><a href="{% url 'post_detail' pk=post.pk %}#comment{{ node.pk }}">{% trans "Ссылка" %}</a></span>
                </p>
                {% else %}
                <p class="media-content">
                    <i>Комментарий был удален</i>
                </p>
                {% endif %}
            </div>
            {% if not node.is_leaf_node %}
            <ul class="thread">
                {{ children }}
            </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>