{% extends 'cms/base.html' %}

{% block title %}
    {% if not parent %}
        Редагування коментаря
    {% else %}
        Відповідь на коментар: {{ parent.author }}
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if not parent %}
            Редагування коментаря
        {% else %}
            Відповідь на коментар: {{ parent.author }}
        {% endif %}
    </h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit">Відправити</button>
    </form>
{% endblock %}