{% extends 'cms/base.html' %}
{% load i18n %}

{% block title %}
    {% if not parent %}
        {% trans "ACIS - Редактирование комментария" %}
    {% else %}
        {% trans "ACIS - Ответ на комментарий" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'category_list' category=post.category.route %}">{{ post.category }}</a></li>
    <li class="sep"></li>

    <li class="current">
        {% if not parent %}
            {% trans "Редактирование комментария" %}
        {% else %}
            {% trans "Ответ на комментарий" %}
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div class="block">
        <h1 class="header-simple">
            {% if not parent %}
                {% trans "Редактирование комментария" %}
            {% else %}
                {% trans "Ответ на комментарий " %} {{ parent.author }}: {{ parent.short_text }}
            {% endif %}
        </h1>

        <div class="content">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% trans "Отправить" %}</button>
            </form>
        </div>
    </div>
{% endblock %}