<ul>
    {% if comments %}
        {% for comment in comments %}
            <li>
                <a href="{% url 'post_detail' comment.post.pk %}#comment{{ comment.pk }}"
                   title="{{ comment.post|truncatechars:32 }}">{{ comment|truncatechars:24 }}</a>
                <br>
                {{ comment.created_date|date:"DATETIME_FORMAT" }} - {{ comment.author }}
            </li>
        {% endfor %}
    {% else %}
        <ul>
            <li>Коментуємих постів поки немає</li>
        </ul>
    {% endif %}
</ul>
