{% load i18n %}
{% load auth %}

{% auth_can_view_category 'report' as allow_report %}
{% auth_can_view_category 'photo' as allow_photo %}
{% auth_can_view_category 'map' as allow_map %}
{% auth_can_view_category 'drawing' as allow_drawing %}
{% auth_can_view_category 'prose' as allow_prose %}

<ul class="menu">
    <li><a href='{% url 'post_list' %}'>{% trans "Новости" %}</a></li>

    {% if allow_report %}<li><a href='{% url 'category_list' category='report' %}'>{% trans "Очеты" %}</a></li>{% endif %}
    {% if allow_photo %}<li><a href='{% url 'category_list' category='photo' %}'>{% trans "Фотографии" %}</a></li>{% endif %}
    {% if allow_map %}<li><a href='{% url 'category_list' category='map' %}'>{% trans "Карты" %}</a></li>{% endif %}
    {% if allow_drawing %}<li><a href='{% url 'category_list' category='drawing' %}'>{% trans "Графика" %}</a></li>{% endif %}
    {% if allow_prose %}<li><a href='{% url 'category_list' category='prose' %}'>{% trans "Писательство" %}</a></li>{% endif %}

    <li><a href='/forum/'>{% trans "Общение" %}</a></li>
    <li><a href='#'>{% trans "Wiki" %}</a></li>

    {% if user.is_staff %}
    <li><a href='/admin/'>{% trans "Управление" %}</a></li>
    {% endif %}
</ul>