{% load i18n %}

<script>
    var menu = {
        '{% trans "Новости" %}': '{% url 'post_list' %}',
        '{% trans "Категории" %}': {
            '{% trans "Очеты" %}': '{% url 'category_list' category='report' %}',
            '{% trans "Фотографии" %}': '{% url 'category_list' category='photo' %}',
            {% if user.is_authenticated %}
            '{% trans "Карты" %}': '{% url 'category_list' category='map' %}',
            {% endif %}
            '{% trans "Графика" %}': '{% url 'category_list' category='drawing' %}',
            '{% trans "Писательство" %}': '{% url 'category_list' category='prose' %}'
        },
        '{% trans "Общение" %}': {
            '{% trans "Форум" %}': '#',
            '{% trans "Вылазки" %}': '#',
            '{% trans "Снаряжение" %}': '#',
            '{% trans "Другие вылазки" %}': '#',
            '{% trans "Курилка" %}': '#',
            '{% trans "Техн. раздел" %}': '#'
        },
        'Wiki/FAQ': '#',
        {% if user.is_staff %}
        'Управление': '/admin/',
        {% endif %}
        {% if user.is_authenticated %}
        '{% trans "Выход" %}': '{% url 'auth_logout' %}?next={{request.path}}'
        {% else %}
        '{% trans "Регистрация" %}': '{% url 'registration_register' %}',
        '{% trans "Вход" %}': '{% url 'auth_login' %}?next={{request.path}}'
        {% endif %}
    };
    $('#acisMenu').acisMenu({
        class: 'main-menu',
        items: menu
    });
</script>