{% extends 'cms/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "премодерация" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'category_list' category=category.route %}">{{ category }}</a></li>
    <li class="sep"></li>
    <li class="current">{% trans "Премодерация" %}</li>
{% endblock %}

{% block content %}
    <h1>{% trans "Ваш пост отправлен на премодерацию" %}</h1>
    <p>
        {% trans "Публикация постов в данной категории требуют проверки модератором. После проверки ваш пост будет опубликован." %}
    </p>
    <p><a href="{% url 'category_list' category=category.route %}">{% trans "Вернуться в категорию" %}</a></p>
{% endblock %}