{% extends 'cms/base.html' %}
{% load i18n %}

{% block content %}
            <div class="block article">
                <p class="actions">
                    {% if user.is_authenticated %}
                    <a href="{% url 'post_edit' pk=post.pk %}">{% trans "Редактировать" %}</a> |
                    <a href="{% url 'post_delete' pk=post.pk %}" onclick="return confirm('{% trans "Вы уверены, что хотите удалить пост? Отменить это действие будет невозможно." %}')">{% trans "Удалить" %}</a> |
                    <a href="#">{% trans "Опубликовать" %}</a> |
                    <a href="#">{% trans "Скрыть" %}</a>
                    {% endif %}
                </p>
                <div class="info">
                    <p>
                        <strong>{% trans "Автор: " %}</strong>
                        <a href="{% url 'author_list' author=post.author %}">{{ post.author }}</a>
                    </p>
                    <p><strong>{% trans "Дата: " %}</strong>{{ post.created_date }}</p>
                    <p>
                        <strong>{% trans "Категория: " %}</strong>
                        <a href="{% url 'category_list' category=post.category.route %}">{{ post.category }}</a>
                    </p>
                    <p><strong>{% trans "Статус: " %} </strong>Опубликовано</p>
                </div>
                <h1 class="header-simple">{{ post.title }}</h1>
                <div class="content">
                    {{ post.text|linebreaksbr }}

                    {% if post.file %}
                    <br>
                    File uploaded at: <a href="{{ post.file }}">{{ post.file }}</a>
                    {% endif %}
                </div>
                {% if post.tags.all %}
                <p class="tags">
                    {% trans "Теги:" %}
                    {% for tag in post.tags.all %}
                    {% if not forloop.first %}&nbsp;{% endif %}<a href="{% url 'category_tags_list' category=post.category.route tags=tag.name %}">#{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

{% endblock %}