{% extends 'cms/base.html' %}
{% load i18n %}
{% load comments %}
{% load auth %}

{% block content %}

<div class="block">
  {% if category.route == 'drawing' %}
  <h1 class="header-simple">
    {% trans "Рисунки" %}
    {% if tags %}
    {% trans " по тегам " %}{% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}
    {% endif %}
  </h1>
  <div class="category-menu">
    {% if user.is_authenticated and perms.cms.add_post %}
    <a href="{% url 'post_new' category=category.route %}">{% trans "Добавить рисунок" %}</a>
    {% endif %}
  </div>
  {% elif category.route == 'map' %}
  <h1 class="header-simple">
    {% trans "Карты" %}
    {% if tags %}
    {% trans " по тегам " %}{% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}
    {% endif %}
  </h1>
  <div class="category-menu">
    {% if user.is_authenticated and perms.cms.add_post %}
    <a href="{% url 'post_new' category=category.route %}">{% trans "Добавить карту" %}</a>
    {% endif %}
  </div>
  {% elif category.route == 'news' %}
  <h1 class="header-simple">
    {% trans "Новости и события" %}
    {% if tags %}
    {% trans " по тегам " %}{% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}
    {% endif %}
  </h1>
  <div class="category-menu">
    {% if user.is_authenticated and perms.cms.add_post %}
    <a href="{% url 'post_new' category=category.route %}">{% trans "Добавить новость" %}</a>
    {% endif %}
  </div>
  {% elif category.route == 'photo' %}
  <h1 class="header-simple">
    {% trans "Фотографии" %}
    {% if tags %}
    {% trans " по тегам " %}{% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}
    {% endif %}
  </h1>
  <div class="category-menu">
    {% if user.is_authenticated and perms.cms.add_post %}
    <a href="{% url 'post_new' category=category.route %}">{% trans "Добавить фотографию" %}</a>
    {% endif %}
  </div>
  {% elif category.route == 'prose' %}
  <h1 class="header-simple">
    {% trans "Писательство" %}
    {% if tags %}
    {% trans " по тегам " %}{% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}
    {% endif %}
  </h1>
  <div class="category-menu">
    {% if user.is_authenticated and perms.cms.add_post %}
    <a href="{% url 'post_new' category=category.route %}">{% trans "Добавить текст" %}</a>
    {% endif %}
  </div>
  {% elif category.route == 'report' %}
  <h1 class="header-simple">
    {% trans "Отчеты" %}
    {% if tags %}
    {% trans " по тегам " %}{% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}
    {% endif %}
  </h1>
  <div class="category-menu">
    {% if user.is_authenticated and perms.cms.add_post %}
    <a href="{% url 'post_new' category=category.route %}">{% trans "Добавить отчет" %}</a>
    {% endif %}
  </div>
  {% else %}
    {% if author %}
    <h1 class="header-simple">
      {% trans "Материалы автора " %}{{ author }}
      {% if tags %}
      {% trans " по тегам " %}{% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}
      {% endif %}
    </h1>
    {% elif tags %}
    <h1 class="header-simple">
      {% trans "Материалы по тегам " %}
      {% for tag in taglist %}{% if not forloop.first %}&nbsp;{% endif %}#{{ tag }}{% endfor %}
    </h1>
    {% else %}
    <h1 class="header-simple">{% trans "Все материалы" %}</h1>
    {% endif %}
  {% endif %}


  <div class="content">
    {% if not posts %}
    <p>
      {% if category %}
      {% url 'post_new' category=category.route as post_new_url %}
      {% blocktrans with post_new_url=post_new_url %}В категории пока нет материалов. Вы можете <a href="{{ post_new_url }}">добавить</a> первым.{% endblocktrans %}
      {% else %}
      {% trans "На сайте пока нет материалов. Вы можете добавить материал первым. Для этого перейдите в соответствующую категорию меню." %}
      {% endif %}
    </p>
    {% endif %}

    {% for post in posts %}

    {% auth_is_owner post as is_post_owner %}
    {% comment_count as comm_count %}

    <div class="post" id="{{ post.pk }}">
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      <p class="info">
        {{ post.created_date }}
        <span class="sep">|</span>
        <a href="{% url 'author_list' author=post.author %}">{{ post.author }}</a>
        <span class="sep">|</span>
        <span>{% trans "Категория: " %}</span><a href="{% url 'category_list' category=post.category.route %}">{{ post.category }}</a>
        {% if comm_count %}
        <span class="sep">|</span>
        <a href="{% url 'post_detail' pk=post.pk %}#comments">{{ comm_count }}
        {% if comm_count|plural_type == 1 %}{% trans "комментарий" %}{% endif %}
        {% if comm_count|plural_type == 2  %}{% trans "комментария" %}{% endif %}
        {% if comm_count|plural_type == 3  %}{% trans "комментариев" %}{% endif %}
        </a>
        {% endif %}
      </p>
      <p class="content">
        {{ post.text|linebreaksbr }}
      </p>
      {% if post.tags.all %}
      <p class="tags">
        <i class="fa fa-tags"></i>
        {% for tag in post.tags.all %}
        {% if not forloop.first %}&nbsp;{% endif %}<a href="{% url 'category_tags_list' category=post.category.route tags=tag.name %}">#{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% endif %}
      <p class="actions">
        {% if user.is_authenticated %}
        {% auth_is_owner post as is_post_owner %}
        {% if perms.cms.change_post and is_post_owner %}
        <a href="{% url 'post_edit' pk=post.pk %}">{% trans "Редактировать" %}</a>
        <span class="sep">|</span>
        {% endif %}
        {% if perms.cms.delete_post and is_post_owner %}
        <a href="{% url 'post_delete' pk=post.pk %}" onclick="return confirm('{% trans "Вы уверены, что хотите удалить пост? Отменить это действие будет невозможно." %}')">{% trans "Удалить" %}</a>
        <span class="sep">|</span>
        {% endif %}
        {% if post.is_public %}
        <a href="#">{% trans "Скрыть" %}</a>
        {% else %}
        <a href="#">{% trans "Опубликовать" %}</a>
        {% endif %}
        {% endif %}
      </p>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock content %}
