{% extends 'cms/base.html' %}
{% load i18n %}

{% block content %}

            <div class="block article">
                <div class="buttons">
                    <a href="#">Список статей</a>
                    <a href="{% url 'post_edit' pk=post.pk %}">{% trans "Редактировать" %}</a>
                    <a href="#">{% trans "Удалить" %}</a>
                    <a href="#">{% trans "Опубликовать" %}</a>
                    <a href="#">{% trans "Скрыть" %}</a>
                </div>
                <div class="info">
                    <p><strong>{% trans "Автор (Источник):" %}</strong> {{ post.author }}</p>
                    <p><strong>{% trans "Дата:" %}</strong> {{ post.created_date }}</p>
                    <p><strong>{% trans "Категория:" %}</strong> {{ post.category.name }}</p>
                    <p><strong>{% trans "Статус:" %} </strong> Опубликовано</p>
                </div>
                <h1 class="header-simple">{{ post.title }}</h1>
                <div class="content">
                    {{ post.text|linebreaksbr }}

                    {% if post.file %}
                    <br>
                    File uploaded at: <a href="{{ post.file }}">{{ post.file }}</a>
                    {% endif %}
                </div>
                <p class="tags">
                    {% trans "Теги:" %}
                    <a href="#">#тег</a>,
                    <a href="#">#тег1</a>,
                    <a href="#">#тег2</a>
                </p>
            </div>

{% endblock %}