{% extends 'cms/base.html' %}
{% load i18n %}
{% load comments %}
{% load auth %}
{% load bleach_tags %}

{% block title %}
    {% trans "ACIS - " %}{{ post }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'category_list' category=post.category.route %}">{{ post.category }}</a></li>
    <li class="sep">&#187;</li>
    <li class="current">{{ post }}</li>
{% endblock %}

{% block content %}
    {% auth_is_owner post as is_post_owner %}
    {% comment_count as comm_count %}

    <div class="block article {% if post.file %}file{% else %}text{% endif %}">

        <div class="actions">
            {% if user.is_authenticated %}
              {% auth_is_owner post as is_post_owner %}

              {% if perms.cms.change_post and is_post_owner %}
                  <a href="{% url 'post_edit' pk=post.pk %}" class="fa-link"><i class="fa fa-pencil"></i>{% trans "Редактировать" %}</a>
              {% endif %}

              {% if perms.cms.delete_post and is_post_owner %}
                <a href="{% url 'post_delete' pk=post.pk %}" onclick="return confirm('{% trans "Вы уверены, что хотите удалить пост? Отменить это действие будет невозможно." %}')" class="fa-link"><i class="fa fa-trash-o fa-margin"></i>{% trans "Удалить" %}</a>
              {% endif %}

              {% if post.is_public %}
                <a href="#" class="fa-link"><i class="fa fa-eye-slash fa-margin"></i>{% trans "Скрыть" %}</a>
              {% else %}
                <a href="#" class="fa-link"><i class="fa fa-eye fa-margin"></i>{% trans "Опубликовать" %}</a>
              {% endif %}
            {% endif %}
          </div>

        <div class="info">
            <p>
                <strong>{% trans "Автор: " %}</strong>
                <a href="{% url 'author_list' author=post.author %}">{{ post.author }}</a>
            </p>
            <p><strong>{% trans "Дата: " %}</strong>{{ post.created_date }}</p>
            <p>
                <strong>{% trans "Категория: " %}</strong>
                <a href="{% url 'category_list' category=post.category.route %}">{{ post.category }}</a>
            </p>
        </div>

        <h1 class="header-simple">{{ post.title }}</h1>
        <div class="content clearfix">
            {% if post.file %}
                <a href="{{ MEDIA_URL }}{{ post.file }}"><img class="image" src="{{ MEDIA_URL }}{{ post.file }}" alt="{{ post.title }}" /></a>

                <p class="description">{{ post.description }}</p>
            {% else %}
                {{ post.text|bleach }}
            {% endif %}
        </div>

        {% if post.tags.all %}
            <div class="tags">
                <i class="fa fa-tags"></i>
                {% for tag in post.tags.all %}
                    {% if not forloop.first %}&nbsp;{% endif %}
                    <a href="{% url 'category_tags_list' category=post.category.route tags=tag.name %}">#{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if comm_count or perms.cms.add_comment %}
        <h3 id="comments">{% trans "Комментарии:" %}</h3>
    {% endif %}

    {% if perms.cms.add_comment %}
        <div class="comments-form">
            <div class="well">
                {% comment_form post %}
            </div>
        </div>
    {% endif %}

    {% if comm_count %}{% comment_list %}{% endif %}
{% endblock %}