{% extends 'cms/base.html' %}
{% load staticfiles %}

{% block title %}
    {% if post %}
        Редягування поста
    {% else %}
        Створення поста
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if post %}
            Редагування поста
        {% else %}
            Створення поста
        {% endif %}
    </h1>

    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit">Відправити</button>
    </form>
{% endblock %}