{% extends 'cms/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "premoderation" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'category_list' category=category.route %}">{{ category }}</a></li>
    <li class="current">{% trans "Pre-moderation" %}</li>
{% endblock %}

{% block content %}
    <h1>{% trans "Your post has been sent for pre-moderation." %}</h1>
    <p>
        {% trans "Publication of posts in this category require moderation. After checking your post will be published." %}
    </p>
    <p><a href="{% url 'category_list' category=category.route %}">{% trans "Return to category" %}</a></p>
{% endblock %}